{% extends 'layout.html' %}

{% block menu %}
	<p><a href="/">Refresh &nbsp;|</a><a href="https://github.com/rorodata/instance-recognition">&nbsp; Source Code &nbsp;</a></p>
{% endblock %}


{% block selectimage %}
	<div class="col-md-12">
		<h4>Select an image</h4>
	</div>
	<div class="col-md-4 thumbnail">
  		<form action="/predict" method="POST">
  			<input type="hidden" name="image_url" value="https://etimg.etb2bimg.com/thumb/msid-52164620,width-700,resizemode-4/.jpg">
  			<button type="submit" class="image-back"><img src="https://etimg.etb2bimg.com/thumb/msid-52164620,width-700,resizemode-4/.jpg" alt="Forest" style="{width:250px}"></button>
  		</form>
	</div>
	<div class="col-md-4 thumbnail">
  		
		<form action="/predict" method="POST">
			<input type="hidden" name="image_url" value="http://4.bp.blogspot.com/-D0_5EJ9gzaI/UT8SaCrutHI/AAAAAAAAF3c/3RK1FXyaMIU/s1600/001+Delhi+Metro,+Patel+Nagar.JPG">
  			<button type="submit" class="image-back"><img src="http://4.bp.blogspot.com/-D0_5EJ9gzaI/UT8SaCrutHI/AAAAAAAAF3c/3RK1FXyaMIU/s1600/001+Delhi+Metro,+Patel+Nagar.JPG" alt="Forest" style="{width:250px}"></button>
  		</form>
	</div>
	<div class="col-md-4 thumbnail">
  		
		<form action="/predict" method="POST">
			<input type="hidden" name="image_url" value="http://www.slate.com/content/dam/slate/blogs/future_tense/2014/09/25/to_insure_subprime_auto_loans_companies_are_installing_starter_interrupt/167503533-morning-traffic-fills-the-sr2-freeway-on-april-25-2013.jpg.CROP.promo-mediumlarge.jpg">
  			<button type="submit" class="image-back"><img src="http://www.slate.com/content/dam/slate/blogs/future_tense/2014/09/25/to_insure_subprime_auto_loans_companies_are_installing_starter_interrupt/167503533-morning-traffic-fills-the-sr2-freeway-on-april-25-2013.jpg.CROP.promo-mediumlarge.jpg" alt="Forest" style="{width:250px}"></button>
  		</form>
	</div>

{% endblock %}

{% block partition %}
		<br>
		<div class="row section-input">
			<div class="col-md-12">
				<h4>OR</h4>
			</div>
		</div>
{% endblock %}

{% block inputurl %}
	<form action="/predict" method="post">
		<div class="form-group">
		    <input type="text" class="form-control" name="image_url" placeholder="Paste URL for JPG image - It takes 50-55 seconds to process an image">
		</div>
		<div class="form-group text-center"> 
    		<button type="submit" class="btn btn-primary">Detect Instances</button>
		</div>
	</form>
{% endblock %}


{% block outputs %}
	{% if encoded_image %}
		<img src='data:image/jpg;base64,{{encoded_image}}' class="img-fluid center-img" width="960" height="600">
	{% endif %}
{% endblock %}